.items {
    display: flex;
    padding: 20px 5px;
    justify-content: space-around;
    flex-direction: column;
}

.image {
    height: 300px;
    width: 270px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}